section{ 
  display: block;
  height: 100%;
  width: 100%;
}

.movies-wrapper{
  background-color: var(--color-white);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding-top: 10px;
  padding-bottom: 50px;
}
