.site-logo-text a{
  color: var(--color-yellow);
}

.site-logo-image-link{
  margin: 10px;
  cursor: pointer;
}

img.site-logo-image{
  width: 250px;
  height: 72px;
}

h1.site-logo-text{
  font-size: 2.1em;
}