.stack {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .stack {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 590px) {
  .stack {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .stack {
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .stack {
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}